.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: yellow;
}

.texts {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    line-height: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3751FF;
}

.intro {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}

.summary {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #898E9C;
}

.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row>label {
    font-size: 20px;
}

.form-row>input {
    line-height: 40px;
    border: none;
}

div.form-row.input-box.email-field {
    border-left: 5px solid #3751FF;
}

div.form-row.input-box {
    border: 1px solid #898E9C;
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 3px;
}

.form-row>input::placeholder {
    color: #3751FF;
    font-size: 18px;
    font-weight: bold;
}

.form-row.form-links {
    flex-direction: row;
    justify-content: start
}

.form-row.links {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.footer>a:nth-child(1) {
    color: #898E9C;
}

.footer>a {
    font-size: 20px;
    color: #3751FF;
    padding: 20px;
}