.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    background-color: yellow;
}

.texts {
    display: flex;
    flex-direction: column;
}

.title {
    padding-bottom: 40px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-row>label {}

.form-row>input {
    line-height: 40px;
}

.form-row.links {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer>a {}