body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.left-column {
    width: 40%;
    background-color: yellow;
    padding: 40px;
}

.right-column {
    width: 60%;
    height: 100vh;
    background-image: url(../img/login_screen.png);
    background-size: cover;
    background-position: center;
}