body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

main {
    display: inline-block;
    width: 1400px;
    margin-left: calc(50% - 700px);
}

.left-column {
    width: 40%;
    float: left;
    background-color: yellow;
    padding: 40px;
}

.right-column {
    width: 60%;
    float: right;
    background-color: blue;
}